# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
out/
build/

# Environment
.env
.env.local
.env.example
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

output/*

# OS
.DS_Store
Thumbs.db

# Turbo
.turbo/

# Prisma
packages/database/prisma/*.db
packages/database/prisma/migrations/*.sql.bak
packages/database/package-lock.json
packages/shared/package-lock.json

# Uploads (local dev)
uploads/

# Test
coverage/

# Debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# MinIO data (local)
minio-data/

.tools/*
.tools/

.package-lock.json

